@import '../variables.scss';
@import '../typography.scss';

.test-component {
  background-color: $syed-white;
  border: 1px solid $syed-black;
  padding: 16px;
  width: 360px;
  text-align: center;

  .heading {
    @include heading;
  }

  &.test-component-secondary {
    background-color: $syed-black;
    color: $syed-white;
  }
}
